if isMainPage
  footer
    .social-part
    .menu-part
      .logo  
        img.footer-logo-img(src="../../css/img/logo.png")
      .menu
        ul.menu
          li.menu-item Contact
          li.menu-item Support
          li.menu-item Legal Information
          li.menu-item Privacy Policy
          li.menu-item Terms of Service
          li.menu-item Site map
          
    
