.login-form
  h1.heading-1 Sing in in to  your account
  form(method='POST' action='/register')
    div.form-group
      input#email.form-control(type='email', placeholder='Email address' name='email')
    div.form-group
      input#pw.form-control(type='password', placeholder='Password' name='password')
    div.form-group
      +checkbox('privatePc', 'This is a private computer.','Keep me signed in and allow caching', 'true','bold checkbox-paragraph', 'caption')
    button.btn.btn-primary(type='submit') Sign in
