- var HeaderTitleText = 'Flex Task'


doctype html
html
  head
    block headSection
      include ../partials/head-section
  body
    block header
      include ../blocks/header
    .container
      block main
      block footer
        include ../blocks/footer
    block common-script
      include ../partials/scripts
    
